@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');

/* CSS Document web
div a img{
	display: none;
}
 */


html,body{
	height:100%;
}


body {
	background:#2a293f;
	color: #666;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Noto Sans TC','微軟正黑體',sans-serif;
	letter-spacing: 2px;
	overflow-x:hidden;
}


/* no scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional of scrollbar */
::-webkit-scrollbar-thumb {
    background: #2d2d30;
	opacity: 0.9;
}



/*font-sty*/
a, button {
	outline: none!important;
}

a {
	color: #999;
	font-size: 16px;
	text-decoration: none;
}

a:hover, a:focus {
	color: #f0f0f5;
}


p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	font-weight: 300;
}


h1 {
	font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 2px;
	font-weight: 700;
}

h2 {
	font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 2px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: 500;
}

h4 {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 2px;
	font-weight: 400;
}

h5 {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: 300;
}


.footerfront p{
	font-size: .6rem;
}

.text-red{
	color:#FF596B !important;
}

.text-white{
	color:#f0f0f5 !important;
}

.text-yellow{
	color:#ffe342 !important;
}

.text-purple{
	color:#2a293f !important;
}

.text-green{
	color:#ABEDD8 !important;
}

.text-black{
	color:#333 !important;
}

.text-lg-black{
	color:#666 !important;
}

.text-grey{
	color:#999 !important;
}

.text-left{
	text-align:left!important;
}

ol li{
	text-align:left!important;
	line-height: 1.4rem;
    	margin-bottom: 1.5rem;
}

/* bg */
.bg-purple{
	background:#2a293f!important;
}

.bg-purple02{
	background:#34324d!important;
}

.bg-yellow{
	background:#ffe342!important;
}




/*loader */
.wrapper {
	height: 100vh;
	text-align: center;
}

.wrapper button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.loader {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	transition: width 0s 1.4s ease;
}

.loader .loader__icon {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
	transition: opacity .5s ease;
}

.loader .loader__icon svg {
  transform-origin: 0 0;
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #FFE342;
  transition: width .7s ease;
}

.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}

.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}

.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}

.loader--active {
  width: 100%;
  transition-delay: 0s;
}

.loader--active .loader__icon {
  opacity: 1;
  transition: opacity .5s 1.4s ease;
}

.loader--active .loader__tile {
  width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}



/* hover */



/*btn*/
.btn {
	color:#2a293f;
	cursor: pointer;
    font-style: 16px
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 18px;
    border-radius: 4px;
    border: 1px solid #275D87;
    background:transparent;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
	-webkit -transition-property: background;
	-webkit -transition-duration: 1s;
	-webkit -transition-timing-function: linear;
	-moz-transition-property: background;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: linear;
	-o-transition-property: background;
	-o-transition-duration: 1s;
	-o-transition-timing-function: linear;
	outline:none !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open > .dropdown-toggle.btn {
    background: #f0f0f5;
    border:1px solid #ffe342;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.intro-btn-01{
	color:#f0f0f5 !important;
	cursor: pointer;
  font-style: 16px
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 18px;
  background:transparent;
	transition-property: background;
	transition-duration: 1s
	transition-timing-function: linear;
	-webkit -transition-property: background;
	-webkit -transition-duration: 1s;
	-webkit -transition-timing-function: linear;
	-moz-transition-property: background;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: linear;
	-o-transition-property: background;
	-o-transition-duration: 1s;
	-o-transition-timing-function: linear;
	outline:none !important;
	position: relative;
	top:2px;
}

.btn-back,.btn-back:focus,.btn-back:link,.btn-back:active{
	color: #2a293f;
	font-size: 16px;
	border-radius: 4px;
	border:1px solid #ffe342;
	background-color: #ffe342;
	margin:25px 0;
	transition: .5s ease;
}

.btn-back.outline,.btn-back.outline:focus,.btn-back.outline:link,.btn-back.outline:active{
	color: #ffe342;
	font-size: 16px;
	border-radius: 4px;
	border:1px solid #ffe342;
	background-color: transparent;
	margin:25px 0;
	transition: .5s ease;
}

.btn-back:hover{
  box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
}

.btn-back.outline:hover{
  box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
}


.btn-primary:hover{
	color: #2a293f;
	background:#ffe342 ;
}


.card-title{
	line-height: 2rem;
}


/* animate delay */
.delay1{
	animation-delay: 1s!important;
}

.delay2{
	animation-delay: 1.5s!important;
}

.delay3{
	animation-delay: 2s!important;
}

.delay4{
	animation-delay: 2.5s!important;
}

.delay5{
	animation-delay: 3s!important;
}



/* NAV Logo */
.my-logo{
	width: 35px;
    height: auto;
    position: absolute;
    top: 13px;
}

/* NAV BAR */
.navbar{
  padding: 0 150px;
  background: rgba(42, 41, 63, .8);
}

.navbar-nav li{
	padding: 0 25px;
}

.fixed-top-d{
	position: relative !important;
}


.logo-name{
	font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
	font-size: 28px;
	color: #f0f0f5;
	font-weight: 700;
  position: relative;
  top: 5px;
}




/* NAV BTN */
.nav-icon0 {
	width: 30px;
	height: 35px;
	position: relative;
	top:30px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.nav-icon0 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: #ffe342;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.nav-icon0 span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

.nav-icon0 span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}

.nav-icon0 span:nth-child(1), .nav-icon0 span:nth-child(2) {
	top: 0px;
}

.nav-icon0 span:nth-child(3), .nav-icon0 span:nth-child(4) {
	top: 10px;
}

.nav-icon0 span:nth-child(5), .nav-icon0 span:nth-child(6) {
	top: 20px;
}

.nav-icon0.open span:nth-child(1),.nav-icon0.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-icon0.open span:nth-child(2),.nav-icon0.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-icon0.open span:nth-child(1) {
	left: 0px;
	top: 9px;
}

.nav-icon0.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 9px;
}

.nav-icon0.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

.nav-icon0.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

.nav-icon0.open span:nth-child(5) {
	left: 0px;
	top: 19px;
}

.nav-icon0.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 19px;
}


/* NAV Link */
.nav-link{
	cursor: pointer;
}

.mobileMenu .navbar-nav li a{
	font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
	font-size: 16px;
	font-weight:300;
	letter-spacing: 2px;
	color:#999;
}

.mobileMenu .navbar-nav li a:hover{
	color:#f0f0f5;
}

.mobileMenu .navbar-nav li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ffe342;
    transition: width .3s;
    position: relative;
    left: 0;
    bottom: 0;
}

.mobileMenu .navbar-nav li a:hover::after {
    width: 50%;
    transition: width .3s;
}


/* intro-all */
.intro-all {
	background:#2A293F;
	/*background-image:linear-gradient(0deg,rgba(42,41,63,1) 0%, rgba(0,0,0,1) 100%);*/
	background-repeat:center center no repeat fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100%;
}


/* intro-frame */
.intro-frame{
	background: transparent;
	border:3px solid #97E7D6;
	border-radius: 4px;
  box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
	/*box-shadow: 0 0 20px 0 #97e7d6;*/
	text-align: left;
	position: absolute;
	top: 20%;
	padding: 100px 50px;
	margin: 0 auto;
  max-width: 1000px;
}

.intro-frame h1{
	font-size: 56px;
	font-weight: 700;
	letter-spacing: 1px;
	color:#f0f0f5;
	margin-bottom: 5%;
  line-height: 64px;
}

.intro-frame h2{
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
}

.intro-btn-outline{
	color: #ffe342;
	font-size: 16px;
	border-radius: 4px;
	border: solid 1px #ffe342;
}

.intro-btn-outline:hover{
	background-color: #FF596B;
	color:#f0f0f5;
}


.intro-btn{
	color: #2a293f;
	font-size: 16px;
	border-radius: 4px;
	background-color: #ffe342;
	margin-left: 3%;
}


.job-title:hover{
	background: #FFE342;
	color: #2a293f;
  transition: .5s ease;
}



/* about me */
.modal-dialog{

}

.self-section-bg{
	background:#f0f0f5;
	border-radius: 4px 0 0 4px;
}

.self-section{
	text-align: left;
	padding: 80px 35px 80px 50px;
}

.self-section h2{
	font-size: 40px;
	font-weight: 500;
	color:#FF596B;
	margin-bottom: 5%;
}

.self-section p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color:#666;
}


.self-intro-btn-gp{
	margin-top: 10%;
}

.self-intro-btn-outline{
  	color: rgba(255, 89, 107);
  	font-size: 16px;
	border-radius: 4px;
  	border: solid 1px rgba(255, 89, 107);
}

.self-intro-btn-outline:hover{
	background-color: rgba(171, 237, 216);
	color:#2a293f;
}


.contact-btn{
  	color: #f0f0f5;
  	font-size: 16px;
	border-radius: 4px;
	border: solid 1px rgba(255, 89, 107);
	background-color: rgba(255, 89, 107);
	margin-left: 3%;
}

.contact-btn:hover{
  	color: #2a293f;
  	font-size: 16px;
	border-radius: 4px;
	background-color: rgba(255, 227, 66);
	margin-left: 3%;
}


.skills-section-bg{
	background:#2A293F;
	border-radius: 0 4px 4px 0;
}

.skills-section{
	text-align: left;
	padding: 80px 50px 80px 35px;
}

.skills-section .close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: rgba(255, 89, 107);
	text-shadow: 0 0px 0 transparent;
	opacity: .5;
	position: relative;
	top: -40px;
	right: -35px;
	background: transparent;
	transition: .5s ease;
}

.skills-section .close:hover{
	color: #FFE342;
}



.skills-section h2{
	font-size: 40px;
	font-weight: 500;
	color:#FFE342;
	margin-bottom: 5%;
}

.skills-section h3{

}

.skills-section p{
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	color:#666;
}

.skills-section button{
    padding: 0px!important;
    border-radius: 0px!important;
    border: 0px solid transparent!important;
}

.skills-section button:hover,
.skills-section button:focus,
.skills-section button:active,
.skills-section button:visited{
	text-decoration: none!important;
	background: transparent!important;
}


.skills-section .card {
    background-color: transparent;
    border: 0px solid rgba(0,0,0,0);
}

.skills-section .card-header{
    background-color: transparent;
    border-bottom: 0px solid rgba(0,0,0,0);
    padding: 0 0 12px 0;
}

.skills-section .card-header .collapsed{
	margin-top: 10px;
}


.skills-section .card-header .collapsed h5{
	color:#ABEDD8;
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	margin:10px 0;
	text-align: left;
}

.skills-section .card-header h5{
	color:#FF596B;
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	margin:0 0 10px 0;
	text-align: left;
}


.skills-section .card-header h5:hover{
	color:#FF596B;
}


.skills-section .card-header h5 i{
    position: relative;
	  top: 3px;
    left: 15px;
}


.p-0{
	padding: 0!important;
}

.skills-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.skills-wrapper span{
	padding: .2rem 1.5rem;
	border-radius: 20px;
	border:1px solid rgba(255, 89, 107);
	margin: .3rem .3rem;
	color: #f0f0f5;
	text-transform: lowercase;
}


.page-title{
	color: #FFE342;
}

.page-title p{
	color: #f0f0f5;
}



.caseItem-all-wrapper{
	z-index: 99;
}

.caseItem-wrapper{
	border:1px solid #97E7D6;
	margin-bottom: 1rem;
	min-height: 410px;
	border-radius: 4px;
  transition: .5s ease;
}

.caseItem-wrapper:hover{
	border:1px solid #FF586B;
	cursor: zoom-in;
  box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
}

.caseItem-wrapper img{
	width: 100%;
	object-fit: cover;
	max-height: 400px;
}


.caseItem-content{
	padding: .5rem 1rem;
}

.case-wrapper{
	display: flex;
	flex-wrap: wrap;
	color:#f0f0f5!important;
}

.case-wrapper span{
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  border: 1px solid #FFE342;
  margin: 0.3rem 0.3rem;
  color: #FFE342 ;
	text-transform: lowercase;
}

.caseItem-content h3{
	font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
	font-size: 48px;
	font-weight: 700;
	color:#f0f0f5!important;
	position: relative;
}

.underline{
	padding-bottom: 5px;
	border-bottom: 3px solid #FFE342;
	width: 30px;
}



.caseItem-content p.case-title{
	font-size: 24px;
	text-align: left;
	color:#f0f0f5!important;
	letter-spacing: .1rem;
	font-weight: 500;
	padding-top: .8rem;
}


.card-body{
	background:#f0f0f5;
	border:1px solid #f0f0f5;
	border-radius: 4px;
    position: relative;
    top: -20px;
}

.card-body p{
	margin-bottom: 0; 
}

/* portfolio-all */
.portfolio-all{
	padding: 100px 0;
}

.portfolio-all a,.portfolio-all a:hover{
	text-decoration: none;
}

.portfolio-frame{
	flex-direction: row;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
}

.portfolio-img{
	background:#333;
	cursor: pointer;
	z-index: 99;
}

.portfolio-img:hover, .portfolio-img a:hover{
	background:rgba(171, 237, 216,.8);

}


.portfolio-text-block{
	padding: 25px 0;
}

.portfolio-text-block h3{
	margin-bottom: 0;
}

.portfolio-img:hover h3{
	color:#2a293f;
}

.portfolio-img h3.back{
	font-size:16px;
	padding-top: 20px;
}


.portfolio-img:hover h3.back{
	padding-top: 20px;
	text-transform: uppercase;
}



/* Work All */
.work-all{
	padding: 60px 0;
}

.work-frame{
	/*box-shadow: 0 0 20px rgba(0,0,0,.4);*/
	box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
	background: #34324d!important;
	border-radius: 4px;
}

.work-frame h2{
	text-align: left;
	color: #f0f0f5;
	padding: 1rem;
}

.work-frame .section01{
	padding: 80px 0;
}

.work-frame .section02{
	margin:0 !important;
	border-top: 2px solid #15141f;
}

.work-frame .work-intro{
	padding: 30px;
}

.work-intro a{
  cursor: pointer;
	color:#FF596B;
	font-size: 1rem;
}

.btn.btn-link, a.btn.btn-link{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  border: 0;
	color:#FF596B;
	outline: none!important;
	box-shadow: none!important;
	background: transparent;
	text-decoration: none;
}

.btn.btn-link:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: -10px;
  transition: 0.5s;
  color:#FF596B;
}

.btn.btn-link:hover{
  padding-right: 24px;
  padding-left:8px;
}

.btn.btn-link:hover:after {
  opacity: 1;
  right: 10px;
}


.work-frame .section02 h4,.work-frame .section03 h4{
	font-size:18px;
	line-height: 32px;
	font-weight: 500;
	color:#666;
	text-align: left!important;
	padding-bottom: 15px;
}

.work-frame .section02 h4 span, .work-frame .section03 h4 span{
	font-size:18px;
	font-weight: 500;
	color:#2a293f;
}

.work-frame .section02 p{
	font-size: 16px;
	color:#f0f0f5;
	text-align: left!important;
}


.work-frame .section03{
	padding: 80px 65px;
	background:#f0f0f5;
}


.work-frame .section04{
	padding: 40px 20px;
}






/* work 01 */
.work01{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work01/work01_01.jpg");
}

/* work01-sm */
.work01-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work01/work01_01.jpg");
}

.work01-sm:hover,.work01-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work01_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work01_01.jpg");
}



/* work 02 */
.work02{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work02/work02_01.jpg");
}

/* work02-sm */
.work02-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work02/work02_01.jpg");
}

.work02-sm:hover,.work02-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work02/work02_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work01/work02_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work02/work02_01.jpg");
}



/* work 03 */
.work03{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work03/work03_01.jpg");
}

/* work03-sm */
.work03-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work03/work03_01.jpg");
}

.work03-sm:hover,.work03-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work03/work03_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work03/work03_01.jpg");
}



/* work 04 */
.work04{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work04/work04_01.jpg");
}

/* work04-sm */
.work04-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work04/work04_01.jpg");
}

.work04-sm:hover,.work04-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work04/work04_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work04/work04_01.jpg");
}


/* work 05 */
.work05{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work05/work05_01.jpg");
}

/* work05-sm */
.work05-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work05/work05_01.jpg");
}

.work05-sm:hover,.work05-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work05/work05_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work05/work05_01.jpg");
}




/* work 06 */
.work06{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work06/work06_01.jpg");
}

/* work06-sm */
.work06-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work06/work06_01.jpg");
}

.work06-sm:hover,.work06-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work06/work06_01.jpg");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work06/work06_01.jpg");
}





/* work 07 */
.work07{
	background:black;
	width:auto;
	height:500px;
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../img/portfolio/work07/work07_01.png");
}

/* work07-sm */
.work07-sm{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -webkit-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -o-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -ms-linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: linear-gradient(to bottom, rgba(51, 51, 51,.8),rgba(51, 51, 51,.8)), url("../img/portfolio/work07/work07_01.png");
}

.work07-sm:hover,.work07-sm a:hover{
	background-size:cover; 
	background-position: center center;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -webkit-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -o-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: -ms-linear-gradient(to bottom, rgba(171, 237, 216,.8),rgba(171, 237, 216,.8)), url("../img/portfolio/work07/work07_01.png");
	background-image: linear-gradient(to bottom, rgba(171, 237, 216,.58),rgba(171, 237, 216,.8)), url("../img/portfolio/work07/work07_01.png");
}

.ill-video{
	width: 600px;
    height: auto;
    margin: 25px;
    box-shadow: 0 0 30px rgba(42, 41, 63,.5);
}


.ill-img{
	width: 300px;
    height: auto;
    margin: 25px;
    box-shadow: 0 0 30px rgba(42, 41, 63,.5);
}

.ill-img2{
	width: 600px;
    height: auto;
    margin: 25px;
    box-shadow: 0 0 30px rgba(42, 41, 63,.5);
}


/* footer */
.footer-desktop{
	position: absolute;
	bottom:0;
	text-align: center;
}

.work-all .footer-desktop{
	z-index: -1;
}

.footer-desktop p, footer p{
	font-size: 12px;
	color:#f0f0f5;
	letter-spacing: 2px;
}



@media screen and (max-width:1500px ){
}

@media screen and (max-width:1380px ){

}



@media (max-width:992px){
/* NAV bar */
	.navbar{
		background:transparent;
		margin:0;
		padding: 0;
	}

	.fixed-top-d{
		position: fixed!important;
	}

	.navbar-toggler,.navbar-toggler:focus,.navbar-toggler:hover,.navbar-toggler:active{
		z-index: 99;
		border: 0px;
		outline: none!important;
		box-shadow: none!important;
		background: transparent;
	}

	.navbar-nav{
		margin-top: 50px;
	}

	.navbar-brand{
		display: none;
	}

	.mobileMenu{
		min-width: 420px;
		background: rgba(42, 41, 63,.9);
		position: fixed;
		top:0;
		bottom:0;
		left: 0;
		margin:auto;
		transform: translateX(-100%);
		transition: all ease 0.25s;
	}

	.mobileMenu.open{
		transform: translateX(0);
	}

	.overlay{
		position:fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		background-color:rgba(0,0,0,.8);
		display: none;
		z-index: 90;
	}

	.overlay.open{
		display: block;
	}

	/* nav link */
	.mobileMenu .navbar-nav li a{
		font-family: 'Ubuntu','Noto Sans TC','微軟正黑體',sans-serif;
		font-size: 30px;
		line-height: 40px
		font-weight:500;
		letter-spacing: 2px;
		color:#999;
		text-align: center;
		padding: 25px 0;
	}

	.mobileMenu .navbar-nav li a:hover{
		color:#f0f0f5;
	}

	.mobileMenu .navbar-nav li a::after {
	    content: '';
	    display: block;
	    width: 0px;
	    height: 2px;
	    background: #ffe342;
	    transition: width .3s;
	    position: absolute;
	    left: 34%;
	    bottom: 10px;
	}

	.mobileMenu .navbar-nav li a:hover::after {
	    width: 15%;
	    //transition: width .3s;
	}

	.mobileMenu .navbar-nav li a{
	    opacity: 0;
	    -webkit-transform: translateY(-40px);
	    transform: translateY(-40px);
	    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
	    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
	    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
	    animation-timing-function: cubic-bezier(.45,.005,0,1);
	}

	.mobileMenu.open .navbar-nav li a{
	    opacity: 1;
	    -webkit-transform: translateY(0px);
	    transform: translateY(0px);
	    -webkit-transition: -webkit-transform .2s,opacity .2s;
	    transition: transform .2s,opacity .2s;
	}

	.mobileMenu .navbar-nav li.delay-1 a{
		-webkit-transition-delay:0.1s;
		-moz-transition-delay:0.1s;
		-ms-transition-delay:0.1s;
		-o-transition-delay:0.1s;
		transition-delay:0.1s;
	}

	.mobileMenu .navbar-nav li.delay-2 a{
		-webkit-transition-delay:0.2s;
		-moz-transition-delay:0.2s;
		-ms-transition-delay:0.2s;
		-o-transition-delay:0.2s;
		transition-delay:0.2s;
	}

	.mobileMenu .navbar-nav li.delay-3 a{
		-webkit-transition-delay:0.3s;
		-moz-transition-delay:0.3s;
		-ms-transition-delay:0.3s;
		-o-transition-delay:0.3s;
		transition-delay:0.3s;
	}

	.mobileMenu .navbar-nav li.delay-4 a{
		-webkit-transition-delay:0.4s;
		-moz-transition-delay:0.4s;
		-ms-transition-delay:0.4s;
		-o-transition-delay:0.4s;
		transition-delay:0.4s;
	}

	.mobileMenu .navbar-nav li.delay-5 a{
		-webkit-transition-delay:0.5s;
		-moz-transition-delay:0.5s;
		-ms-transition-delay:0.5s;
		-o-transition-delay:0.5s;
		transition-delay:0.5s;
		font-size: 24px;
		color:rgba(255, 227, 66,.7);
	}


	/* portfolio all */
	.portfolio-frame{
		flex-direction: column;
	}


	/* Work */
	.work-frame .work-intro {
	    padding: 50px 10px;
	}

	.work-frame .case-title-wrapper{
		background:#2a293f!important;
	}



	.work-frame .section03 {
    	padding: 0px;
	}

	.work01,.work02,.work07 {
	    height: auto;
	}

	/* Work 07 */
	.work07-m{
	    padding-left: 15px !important;
	    padding-top: 25px !important;
	}


	.work07-m .justify-content-start,.work07-m .justify-content-end,.work07-m .justify-content-center{
		flex-direction: column;
	}

	.ill-img2{
		width:300px;
	}

	.ill-video {
    	width: 300px;
	}

}


@media screen and (max-width: 768px) {
	/* Intro */
	.intro-frame {
	    background: transparent;
	    border: 0px solid #97E7D6;
	    box-shadow: 0 0 20px 0 transparent;
	    text-align: left;
	    position: absolute;
	    top: 10%;
	    padding: 50px 25px;
	}

	.intro-frame h1 {
	  font-size: 40px;
	  line-height: 48px;
	   margin-bottom: 10%;
	}

	.intro-frame h2 {
	    font-size: 24px;
	    line-height: 28px;
	}

	/* skills */
	.modal-content .col-sm-12{
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}

	.box-shadow{
	  box-shadow: 10px 10px 0px 0px rgba(25, 24, 26,.8);
	}

	.self-section .d-md-none{
		display: block!important;
	}

	.skills-section .close {
	    right: 5px;
	}

	.self-section,.skills-section {
	    padding: 80px 10px;
	}

	.card-body {
	}

	.skills-section .card-header {
	    padding: 22px 0;
	}

	.skills-section .card-header h5 {
		padding: 1rem 0 0 0;
	}

}

/* featuresList */
.featuresList li{
	text-align: left;
	color: #f0f0f5 ;
}





@media screen and (max-width: 480px) {
	/* NAV bar */
	.mobileMenu {
	    min-width: 480px;
	}

}


@media screen and (max-width: 414px) {	
	/* NAV bar */
	.mobileMenu {
	    min-width: 414px;
	}
		
}


@media screen and (max-width: 375px) {
	/* NAV bar */
	.mobileMenu {
	    min-width: 375px;
	}
}


@media screen and (max-width: 360px) {
	/* NAV bar */
	.mobileMenu {
	    min-width: 360px;
	}
}



@media screen and (max-width: 320px) {
	/* NAV bar */
	.mobileMenu {
	    min-width: 320px;
	}

}



